<div id='loginModal' style='display: none' class="modal hide fade">
  <div class="modal-header">
    <h2 class="modal-h2">Sign in</h2>
  </div>
  <div class="modal-body">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email %><br />
      <%= f.email_field :email, :autofocus => true %></div>
      <%= hidden_field 'form_id', 
  </div>
  <div class="modal-footer">
      <button class="btn btn-block btn-inverse" type="submit">Send Email</button>
    <% end %>
  </div>
</div>


<%= hidden_field_tag 'fields[][element_id]', element.id %>
