  <div class ='well complete_form'>
    <div class='well'>
      <h2><%= form_answer.form.title %></h2>
      <%= form_tag complete_form_path(form_answer.form), method: 'put'  do %>
      <% form_answer.value.each do |field_key, field_value| %>
      <div class='field_tag'>
        <%= label_tag "fields[#{field_key}", field_key.humanize, {class: 'field_tag'} %>
        <%= text_field_tag "fields[#{field_key}", field_value  %>
      </div>
      <% end %>
      <%= button_to "Update Answers", { id: :'update_all_answers' } %>
      <% end %>
    </div>
  </div>
