<div class='form_block'>
<div class="navbar form_subnav">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><a href="#">Section 1</a></li>
      <li><a href="#"></a></li>
      <li><a href="#">Section 2</a></li>
    </ul>
</div>
</div>
<div class ='well complete_form'>
  <div class='well'>
    <h2><%= @form.title %></h2>
    <% if @form_answers %>

                   
      <%# TODO-JW: The non-RESTful approach would be to use a single
                   form_tag and text_field_tag and label_tag helpers
                   for each answer, then submit all to 
                   'answers#save_answers_for_form' (see routes file
                   for more info) %>
      <%= form_tag complete_form_update_all_path(@form), method: 'put'  do %>
      <% @form_answers.each do |answer| %>
        <div class='field_tag'>
            <%= label_tag :value, answer.first, {class: 'field_tag'} %>
            <%= text_field_tag :value, answer.last  %>
          <% end %>
        </div>
      <%= button_to "Update Answers", { id: :'update_all_answers' } %>
      <% end %>
    <% end %>
  </div>

</div>
</div>
