<div class='form_block'>
  <div class="well">
    <%= form_for @form do |f| %>
      <%= f.submit 'Submit Form →', class: "btn btn-primary btn-large submit" %>
      <h3><%= f.text_field :title, placeholder: 'Form Title' %></h3>
      <% if @form_elements %>
        <% @form_elements.each do |element| %>
          <input class="field <%= element.size %>"  type="text" name="<%= element.data_type %>[:<%= element.id %>]" value='<%= element.name %>' placeholder="<%= element.name.gsub('_'," ").capitalize %>">
        <% end %>
      <% end %>
    <% end %>  
  </div>
</div>

<div class='form_block selectables'>
</div>

id  form_id element_id  name