<div class ='profile'>    
  <h1>&nbsp;Welcome <%=@user.name %>! <small><br>&nbsp;Manage your forms</small></h1>
</div>
  
  <div class='top_zone'>
    <div class="notifications">
      <% if @request_notifications.empty? && @send_notifications.empty? %>
        <h4 class="heading">You have no new notifications.</h4>
      <% else %>
        <h4 class="heading">You have new notifications!</h4>
      <% end %>
      <% if !@request_notifications.empty? %>
        <% @request_notifications.each do |notify| %>
          <h6 class="heading"><%=User.find(notify.sender_id).name %> Has set you the <%=Form.find(notify.form_id).title %> form to complete!<br/><%= link_to 'Complete This Form', complete_form_path(Form.find(notify.form_id)) %></h6><br/>
        <% end %>
      <% end %>
      <% if !@send_notifications.empty? %>
        <% @send_notifications.each do |notify| %>
          <h6 class="heading">You have sent a request to complete your <%=Form.find(notify.form_id).title %> form to <%=notify.recipient_email %>.</h6><br/>
        <% end %>
      <% end %>
    </div>

    <div class = 'user_info'>  
      <h4>User Info</h4>
      <h2><%= @form_answer.form.title %></h2>
        <%= form_tag complete_form_path(@form_answer.form), method: 'put'  do %>
        <% @form_answer.value.each do |field_key, field_value| %>
        <div class='show_field'>
          <%= label_tag "fields[#{field_key}", field_key.humanize, class: 'field_tag' %><br>
          <%= text_field_tag "fields[#{field_key}", field_value  %>
        </div>
        <% end %>
        <%= button_to "Update Information", nil, id: 'update_all_answers', class: 'btn btn-warning' %>
        <% end %>
        </div>
    </div>
  </div> 

  <div class='user_forms'>
    <h4>Forms I've Taken</h4>
    <hr class='hr_line'/>
    <% @user.forms.each do |form| %>
    <div class='list_forms'>
      <h6><%= form.title %></h6> 
      <%= link_to 'Edit', edit_complete_form_path(form) %>
    </div>
    <% end %>
    <br>
    <h4>Forms I created</h4>
     <hr class='hr_line'/>
    <% @user.forms.each do |form| %>
    <div class='list_forms'>
      <h6><%= form.title %></h6>
       <%= link_to 'Edit', edit_form_path(form) %>
       <%= link_to 'Delete', form_path(form), :method => :delete, :confirm => 'Are you Sure?', id: 'delete_link'  %>
       <%= link_to 'Send', notification_path(form), :method => :create, id: 'send_link'  %>
      </div>
    <% end %>
    <br>
  </div>

