
<div class='form_block'>
  <div class="well">
    <button id='form_submit' class="btn btn-primary btn-large">Submit Form →</button>
    <h3 class="heading">Patient Information</h3>

 <!--    <div class='input name'><input class="field span4" type="text" name="" placeholder="Full Name"></div>
    <div class='input'><input class="field span4" type="text" name="" placeholder="SSN (##-##-####)"></div>
   <div class='input'><input class="field span1" type="text" name="" placeholder="Age"></div>
   <div class='input'><input class="field span1" type="text" name="" placeholder="Sex"></div>
  <div class='input'><input class="field span6" type="text" name="" placeholder="Home Address"></div>
  <div class='input'><input class="field span3" type="text" name="" placeholder="City"></div>
  <div class='input'><input class="field span1" type="text" name="" placeholder="State"></div>
  <div class='input'><input class="field span5" type="text" name="" placeholder="Phone"></div>
  <div class='input'><input class="field span5" type="text" name="" placeholder="Alternate Phone"></div>
  <div class='input'><input class="field span4" type="text" name="" placeholder="Email"></div>
  <div class='input'><input class="field span3" type="text" name="" placeholder="Driver License"></div>
  <div class='input'><input class="field span8" type="text" name="" placeholder="How did you hear about us?"></div>
  </div> -->
</div>
   
<div class='form_block selectables'>
  <% if @fields %>
    <% @fields.each do |field| %>
    <div class="item"><input class="field <%= field.size %>"  type="text" name="<%= field.brand %>[:<%= field.label %>]" data-id=<%= field.id %> placeholder="<%= field.label.gsub('_'," ").capitalize %>">
    </div>
    <% end %>
  <% end %>  
</div>