<div class ='profile'>
<h1>&nbsp;Welcome <%=@user.email %>! <small><br>&nbsp;Create a new form or send a completed one</small></h1>
<div class = 'pull-right'><a href="#">Logo here</a></div>
  <div class="notifications">
    <h4 class="heading">You have new notifications!</h4>
      <h6 class="heading">User.name just returned form.title on form.updated_at</h6>
      <h6 class="heading">User.name just returned form.title on form.updated_at</h6>
      <h6 class="heading">User.name just returned form.title on form.updated_at</h6>
      <a class="dom-link pull-right dom-link-1" href="#">More</a>
  </div>
  <div class = 'user_info'>  
    <h4>User Info</h4>
    <%= form_tag form_create_or_update_contact_info_path(14), method: 'post'  do %>
        <% @user_contact_info.each do |answer| %>
          <div class='field_tag'>
          <h6 class='pull right'>
              <%= label_tag :value, answer.first.gsub('_',' ').capitalize , {class: 'field_tag'} %>
              <%= text_field_tag :value, answer.last  %>
         </h6>
        <% end %>
      </div>
      <%= button_to "Update Info", { id: :'create_or_update_contact_info' } %>
    <% end %>
  </div>
  <div class='user_forms'>
    <h4 class=>Your Forms</h4>
    <% @user.forms.each do |form| %>
      <h6><%= form.title %>
       <%#link_to 'form.title', edit_form_path(@form) %> 
       <%# link_to 'Delete', form_path(@form), :remote => true, :method => :delete, :confirm => 'Are you Sure?' %> 
      </h6>
</div>































  <h6><%=user.name %></h6>
  <h6><%=user.email %></h6>
  <h6><%=user.phone %></h6>
  <h6><%=user.fax %></h6>
  <h6><%=user.address.street %></h6>
  <h6><%=user.address.city %></h6>
  <h6><%=user.address.state %></h6>
  <h6><%=user.address.zip%></h6>
</div>
<div class='user_forms'>
  <h4 class="heading heading-2">Your Forms</h4>
    <%user.forms.each do |form| %>
   <li><%=link_to "<%= user.form %>", user.form </li>
   <li><%= link_to "send -open up send to user modal" send_to_patient_route %></li>
   <li><%= link_to "Edit",  forms_edit_path(id: user.id, form_id: form.id) %></li>
     <li><%= link_to "Delete",  forms_path(id: user.id, form_id: form.id), confirm: 'Are you sure?', method: :delete %></li>
>>>>>>> working on forms#index
    <% end %>
  </div>
=======
    <%user.forms.each do |form| %>
      <h6><%= form.title %>
       <%= link_to 'Edit'  
      </h6>
    <% end %>
  </div>
</div>

>>>>>>> added User Info and notfications place holder
