
<div class="navbar form_subnav">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><a href="#">Section 1</a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
</div>

<div class='form_block well'>
  <%= form_for(@forms, class: 'form_field_catcher') do |f| %>
    <%= f.submit 'Submit Form →', class: 'btn btn-primary btn-large', id: 'create_form_submit' %><br><br>
      <div class='title_tag'>
        <%=  f.label :title, 'Title', class: 'span3' %><br>
      <%= f.text_field :title, placeholder: 'Enter New Form Title Here' %>

    </div><br>
</div>  


<div class='form_block selectables'>
    
    <%= @form_elements.each do |element| %>
    <%= f.fields_for :fields do |builder| %>
<%= :fields %>
      <div class='field_type'>
        <%= builder.label :label, element.label, class: element.size %><br>
        <%= builder.text_field nil, nil, placeholder: element.label.gsub('_',' ').capitalize, class: element.size %>
       
      </div>
    
    <% end %>
 <% end %>
 <% end %>

</div>