<div class='form_block'>
  <div class='well'>
    <%= form_for @form do |f| %>
      <%= f.submit 'Submit Form →', class: 'btn btn-primary btn-large' %>
      <h3><%= f.text_field :title, placeholder: 'Enter New Form Title Here' %></h3>
      <% if @form_elements %>
        <% @form_elements.each do |element| %>
          <input class='field <%= element.size %>'  type='text' name='fields[][:element_id]' value='<%= element.id %>' placeholder='<%= element.name.gsub('_',' ').capitalize %>'>
          <input type='hidden' name='fields[][:name]' value='<%= element.name %>'>
        <% end %>
      <% end %>
    <% end %>  
  </div>
</div>
  
<div class='form_block selectables'>
</div>

