<!DOCTYPE html>
<html lang="en">
<head>

  <title>DrDoo</title>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>


</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <%= link_to "doolittle", root_path, method: :get, class: "brand" %>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
        <li><%= link_to "Create Form", new_form_path %></li>
        <li><%= link_to "Profile", forms_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li id="create_li"><%= link_to "Sign In", new_user_session_path %></li>
        <li id="login_li"><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
